<div class="header center-align">
  <h3 >What show should I binge watch next?</h3>
  <a href="/list/add" class="waves-effect waves-light btn blue">Add Show</a>
  <hr>
</div>



<!-- <div class="container col m12 center-align">
  <form class='col m8 center' action="/list" method="POST">
    <div class="row">
      <div class="input-field col m6 center-align">
        <input type="text" name="title" placeholder="Show Title">
        <input type="text" name="genre" placeholder="Genre">
        <input type="text" name="seasons" placeholder="# of Seasons">
        <input class="btn waves-effect waves-light blue" type="submit" value="Add Show">
      </div>
    </div>
  </form>
</div> -->

<div id="showcase" class="container col m12">
  <ul class="collection with-header">
    <li class="collection-header col m12 center"><h4>Shows</h4></li>
    {{#each items}}
      {{#if seasons}}
      <li class="collection-item col m4">{{title}}: <br>
         {{genre}} <br>
          {{seasons}} Seasons to watch <br>

        <div class="center">
          <a class="waves-effect waves-light btn blue center" href="/list/{{_id}}/delete">Remove Show</a> <br>
          <a class="waves-effect waves-light btn blue center update" href="/list/{{_id}}/edit">Edit</a>
        </div>
      </li>

      {{else}}

      <li class="collection-item col m4">{{title}}: <br>
         {{genre}} <br>

        <div class="center col m2">
         <a class="waves-effect waves-light btn blue center" href="/list/{{_id}}/delete">Remove Show</a> <br>
         <a class="waves-effect waves-light btn blue center update" href="/{{_id}}/edit">Edit</a>
        </div>
      </li>
      {{/if}}
    {{/each}}
  </ul>
</div>
